html {
  font-size: 30px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Noto Sans TC''sans-serif';
  height: 100%;
} 

h1 h2{
  color: rgb(51, 50, 53);
  font-size: 60px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Noto Sans TC''sans-serif'
  
} 

img {
  display: block;
  margin: 0 auto;
}

button{ 
  width:300px;
  padding: 10px;
  font-size:40px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Noto Sans TC''sans-serif';
  align-self: center;
  margin-bottom: 10px;
}
